STACKONE_API_KEY=
ORIGIN_OWNER_ID=dummy_customer_id
ORIGIN_OWNER_NAME=dummy_customer_name
ORIGIN_USERNAME=dummy_customer_username
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_APP_URL=http://localhost:3000
